In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as srn

In [14]:
data = pd.read_csv("dataset.csv", encoding="ISO-8859-1", low_memory=False)

In [18]:
data

,First_Name,Last_Name,Address,City,County,State,Zip,Property Type,Phone,Gender,...,Property Purchased Year,Property Built,Property Value Range,Mortgage Amount In Thousands,Lender Name,Interest Type,Loan Type,Loan To Value,Home Value Mortgage File,Email
0,RHONDA,HALFPOP,731 S Mississippi Ave,Mason City,Cerro Gordo,IA,50401,S,6414230703,F,...,0,1976,"$150,000 - $174,999",79,BANK OF AMERICA,U,Conventional,51,155335,NaN
1,ROBERT,BIRGE,503 Student Dr,Ogallala,Keith,NE,69153,S,3082849975,M,...,2012,1959,"$125,000 - $149,999",143,US BK NATIONAL ASSN,U,Conventional,0,140094,NaN
2,HILARY,DOLAN,429 Moore Dr,Mount Holly,Burlington,NJ,8060,S,6095187632,F,...,2013,1926,"$200,000 - $224,999",40,COMMERCE BK,U,Conventional,105,212437,NaN
3,DEBORAH,EMOND,46 Junction Rd,Malone,Franklin,NY,12953,S,5184830320,F,...,0,1920,"$75,000 - $99,999",45,NORTH FRANKLIN FCU *OTHER,U,Conventional,52,87210,NaN
4,MARY,EDWARDS,11129 131st St,S Ozone Park,Queens,NY,11420,S,3475316801,F,...,1997,0,"$350,000 - $399,999",100,NASSAU EDUCATORS FCU,U,Conventional,27,374555,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,MATTHEW,BIRNEY,30 E 2nd St,Moorestown,Burlington,NJ,8057,S,8563162643,M,...,2007,1930,"$200,000 - $224,999",195,PNC MTG,U,Conventional,92,212533,NaN
999996,DONALD,GORMAN,346 California Blvd,Davenport,Polk,FL,33897,S,8634207269,M,...,0,1999,"$75,000 - $99,999",30,COLONIAL MTG CO,Fixed,Conventional,0,77185,NaN
999997,JUDITH,EMMETT,5252 Tendilla Ave,Woodland Hls,Los Angeles,CA,91364,S,8183121484,F,...,1987,1950,"$500,000 - $749,999",152,WASHINGTON MUTUAL BK FA,Fixed,Conventional,28,548638,NaN
999998,VICTORIA,DOUYON,20721 Brookwood Dr,Olympia Flds,Cook,IL,60461,S,7084172758,F,...,1995,1965,"$275,000 - $299,999",98,JP MORGAN CHASE BK,Adjustable,Conventional,91,285408,NaN
999999,EDUARDO,MARTONE,350 Brownstone Rdg,Meriden,New Haven,CT,6451,S,2032476952,M,...,2010,1965,"$225,000 - $249,999",150,WACHOVIA BK NA,Adjustable,Conventional,66,228547,NaN

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 21 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   First_Name                    999996 non-null   object
 1   Last_Name                     999975 non-null   object
 2   Address                       1000000 non-null  object
 3   City                          1000000 non-null  object
 4   County                        1000000 non-null  object
 5   State                         1000000 non-null  object
 6   Zip                           1000000 non-null  int64
 7   Property Type                 1000000 non-null  object
 8   Phone                         1000000 non-null  object
 9   Gender                        1000000 non-null  object
 10  Age                           1000000 non-null  int64
 11  Property Purchased Year       1000000 non-null  int64
 12  Property Built                1000000 non-null  int64
 13  Property Value Range          1000000 non-null  object
 14  Mortgage Amount In Thousands  1000000 non-null  int64
 15  Lender Name                   1000000 non-null  object
 16  Interest Type                 1000000 non-null  object
 17  Loan Type                     1000000 non-null  object
 18  Loan To Value                 1000000 non-null  int64
 19  Home Value Mortgage File      1000000 non-null  int64
 20  Email                         90905 non-null    object
dtypes: int64(7), object(14)
memory usage: 160.2+ MB